.lh-title-tight {
  line-height: 1.1;
}

.h2-5 {
  height: 3rem;
}

.h4-5 {
  height: 13rem;
}

.w2-5 {
  height: 3rem;
}

.left--4 {
  left: -4rem;
}

.offset-underline {
  border-bottom: 1px;
}

.mw6-5 {
  max-width: 40rem;
}

.mw7 {
  max-width: 44rem;
}

.w6 {
  width: 22rem;
}

.bg-brand-color {
  background-color: #FAA100;
}

.brand-color {
  color: #FAA100;
}

.f2-5 {
  font-size: 1.8rem;
}

.markdown {
  a {
    color: $gray;
    transition: 0.5s;

    &:hover {
      color: #FAA100;
    }
  }
 h2 {
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  color: $dark-gray;
 }
}

.table-fade {
  background-color: #FAA100;
  transition: 0.8s;
}
