<div>
  {% for post in site.posts %}



    <article class="center mw6-5 mv4 relative">
        <img
            src="http://tachyons.io/img/logo.jpg"
            class="br-100 h2-5 w2-5 left--4 absolute" alt="avatar">
    <div class="hidden ba b--black-10">
      <div class="pv2 cf bg-white">
        <h1 class="f5 fw4 fl br--top black-60 mv0 pv2 ph3">{{ post.author }}, <span class="fw3 silver">{{ post.author-title }}</span></h1>
        <h2 class="f5 fw4 fr br--top black-60 mv0 pv2 ph3">{{ post.date | date: "%I:%M %p" }}</h2>
      </div>

      <div class="bg-near-white bt b--black-10">

        {% if post.module-type == "plain-text" %}
        <div class="f6 f5-ns serif lh-copy ph3 measure bg-green">
        {{ post }}
        </div>

        {% elsif post.module-type == "fact-check" %}
        <div class="flex">
          <div class="bg-near-white w-60 pl3">
            <h2 class="fw5">Fact Check</h2>
            <div class="flex">
              <img class="pr3" src="img/{{post.fact-check}}.svg"/>
              <p class="ph2">{{post.quote}}</p>
            </div>
          </div>
          <div class="f6 f5-ns serif lh-copy measure bg-white w-40 relative">
            <div class="overflow-scroll absolute top-0 bottom-0 left-0 right-0 ph3 pv2">
              <b> Our Analysis </b>
              {{ post }}
            </div>
          </div>
        </div>

        {% elsif post.module-type == "multimedia" %}
        <div class="f6 f5-ns serif lh-copy ph3 measure bg-red">
        <img class="pr3" src="img/trump-looming.jpg"/>
        {{ post }}
        </div>

        {% elsif post.module-type == "external-article" %}
        <div class="f6 f5-ns serif lh-copy ph3 measure bg-blue">
        {{ post }}
        </div>
      {% endif %}
      </div>
    </div>
    </article>


      {% endfor %}

</div>
