<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0">
		<meta name="theme-color" content="#7E03D1">

		<meta name="author" itemprop="author" content="Jen Evans">

		<link rel="canonical" itemprop="url" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ "/feed.xml" | prepend: site.baseurl }}">

		<title>Nowblog</title>

		<link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}">


</head>
