
<header>
  <div class="bg-white bb b--light-silver">
    <nav class="dt w-100 mw8 center">
      <div class="dtc w2 v-mid pa3">
        <a class="f5 fw5 brand-color no-underline tracked dib pv2 ph3" href="/">NOWBLOG</a>
      </div>
      <div class="dtc v-mid tr pa3">
        <a class="f6 fw4 hover-light-silver no-underline dark-gray dib pv2 ph3" href="/works.html" >How it Works</a>
        <a class="f6 fw4 hover-light-silver no-underline dark-gray dib pv2 ph3" href="/pricing.html" >Pricing</a>
        <a class="f6 fw4 hover-light-silver no-underline dark-gray dib pv2 ph3" href="/" >Docs</a>
        <a class="f6 fw4 hover-light-silver no-underline dark-gray dib ml2 pv2 ph3 ba" href="/" >Sign Up</a>
      </div>
    </nav>
  </div>
</header>
